# Logs
logs
*.log
npm-debug.log*

# Runtime files
pids
*.pid
*.seed

# Dependency directories
node_modules/

# Output directories
dist/
build/

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Environment files
.env
.env.local
.env.*.local
